{% extends 'home/base.html' %}
{% block title %} about page {% endblock title %}

{% block body %}

<!-- <p>hello juys I am using here tinymce text editor for the django website&nbsp;</p> <p><strong>Tiny</strong>&nbsp;Technologies Inc.&nbsp;<strong>TinyMCE</strong>&nbsp;is an online rich-text&nbsp;<strong>editor</strong>&nbsp;released as open-source software under the LGPL. It has the ability to convert HTML textarea fields or other HTML elements to&nbsp;<strong>editor</strong>&nbsp;instances.&nbsp;<strong>TinyM<span style="color: #2dc26b;">CE</span></strong><span style="color: #2dc26b;">&nbsp;is designed to easi</span>ly integrate with JavaScript libraries such as React (JavaScript library), Vue.</p> <h2>Hello guys My Name is Raju kumar&nbsp;</h2> <h2><span style="color: #a100ff;">I am here to create the website where I can write my blog </span></h2> <h2 style="padding-left: 40px;">🤠🤣🍩<span style="background-color: #e03e2d;"><em>😜</em></span></h2> <p>&nbsp;</p>

<h1>hello my name is raju kumar i live in sectoer 52 chandigarh i study in ccet secotr 26 chandigarh
    in ece branch . it is a goopde college as far as I know </h1>

    <p>hello juys I am using here tinymce text editor for the django website&nbsp;</p> <p><strong>Tiny</strong>&nbsp;Technologies Inc.&nbsp;<strong>TinyMCE</strong>&nbsp;is an online rich-text&nbsp;<strong>editor</strong>&nbsp;released as open-source software under the LGPL. It has the ability to convert HTML textarea fields or other HTML elements to&nbsp;<strong>editor</strong>&nbsp;instances.&nbsp;<strong>TinyM<span style="color: #2dc26b;">CE</span></strong><span style="color: #2dc26b;">&nbsp;is designed to easi</span>ly integrate with JavaScript libraries such as React (JavaScript library), Vue.</p> <h2>Hello guys My Name is Raju kumar&nbsp;</h2> <h2><span style="color: #a100ff;">I am here to create the website where I can write my blog </span></h2> <h2 style="padding-left: 40px;">🤠🤣🍩<span style="background-color: #e03e2d;"><em>😜</em></span></h2> <p>&nbsp;</p> -->
"<h1>hello world </h1>"
    {% endblock %}