{% extends 'blog/base.html' %}
{% block dropdown %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for c in cats %}
      <a class="dropdown-item" href="/blog/category/{{c.pk}}">{{c.title}}</a>
      {% endfor %}
      
  </li>
  <!-- blog/category/1/ -->

{% endblock %}

{% block body %}
{% comment %} {% for post in postbyfilter %} {% endcomment %}
<div class="container my-3">
<div class="blog-post">
 {% for post in postbyfilter %}
 <!-- {{post.content}}       -->
  <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>

      
        
        {{post.content|safe}}
        <!-- safe likhne se richtext editor me jysa  hain wase dikhaie deta  hain  -->
       
      </div>
      </div>
     
      {% endfor %}
          
      <h1>hello world  my name is raju kumar from chd </h1>
 {% endblock %}