<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for c in cats %}
      <a class="dropdown-item" href="/category/{{c.pk}}">{{c.title}}</a>
      {% endfor %}
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a> 
    </div> 
  </li>
  <!-- blog/category/1/ -->